@charset "utf-8";
/* CSS Document */
body{background-color: #F7F2E8;}
.bd_1{width: 85%;margin: 0 auto;}
.bd_1 img{width: 100%;}
.wm_5{width: 100%;text-align: center;font-size: 1em;margin-top: 10px;color: #222;}
