@charset "utf-8";
/* CSS Document */
body{background-color: #ffffff;}
.title{margin: 20px auto;width: 90%;height: 30px;line-height: 30px;font-size: 1.3em;}
.title img{width: 30px;float: left;margin-right: 5px;}
.content{margin-left: 5%;width: 90%;margin-bottom: 25px;}
.content .p_title{font-size: 1.2em;overflow: hidden;border: 1px #ddd solid;padding: 4px 0;border-radius: 2em;    background-color: #efefef;}
.content .p_title .span1{width: 25px;float: left;margin-right: 10px;margin-left: 15px;}
.content .p_title .span1 img{width: 100%;}
.content .p_title .a1{float: left;}
.content .p_content{margin: 10px 25px 10px 52px;display: none;}
.content .p_content li{font-size: 1em;line-height: 45px;height: 45px;border-bottom: 1px #ddd solid;}
.content a{display: block;}