body{background-color: #fcf5d5;}
.tout{width: 100%;}
.tout img{width: 100%;}
.btn1{width:80%;margin: 0 auto;}
.btn1 a{display: block;}
.btn1 img{width: 100%;}
.cont{width: 100%;margin-top: 20px;}
.cont img{width: 100%;}
