@charset "UTF-8";
body{background-color: #ffffff;}
.banner{width: 100%;}
.banner img{width: 100%;}
.content{width: 90%;margin: 0 auto;}
.content img{width: 100%;}
.content .title{margin: 13px 0 10px;}
.content .word{ font-size: 0.95em;text-indent: 30px;    line-height: 26px;}
.content .picture{margin: 13px 0 25px;}

.content ul{overflow: hidden;}
.content .invest1{border-bottom: 1px #eaeaea solid; }
.content .invest1 li{width: 32%;float: left;height: 210px;border-right: 1px #eaeaea solid;}
.content .invest1 li .span_img{width: 70%;display: block;margin: 0 auto;}
.content .invest1 li .span_img img{width: 100%;}
.content .invest1 li .p1{width: 73%;display: block;margin:2px auto 0;font-size: 0.7em;line-height: 20px;}

.content .invest2{margin-bottom: 25px;}
.content .invest2 li{width: 49.5%;float: left;height: 170px;border-right: 1px #eaeaea solid;}
.content .invest2 li .span_img{width: 46%;display: block;margin: 10px auto 0;}
.content .invest2 li .span_img img{width: 100%;}
.content .invest2 li .p1{width: 70%;display: block;margin: 2px auto 0;font-size: 0.7em;line-height: 20px;}

.content .partner{text-align: center;}
.content .partner li{width: 48%;float: left;background-color: #fef0eb;margin-right: 2%;padding: 15px 0;height: 185px;}
.content .partner li .span_img{width: 67%;display: block;margin: 0 auto;}
.content .partner li .span_img img{width: 100%;}
.content .partner li .p1{width: 67%;display: block;margin: 0 auto;font-size: 0.8em;line-height: 20px;}

.content h3{border-bottom: 2px #f1e7d9 solid;text-align: center;color: #a06822;height: 40px;line-height: 40px;margin-top: 20px;font-size: 1em;margin-bottom: 15px;}
.content .partner_way{border-bottom: 1px #eaeaea solid;}
.content .partner_way li{width: 49%;float: left;padding: 15px 0;border-right: 1px #eaeaea solid;}
.content .partner_way li .span_img{width: 80%;display: block;margin: 10px auto 0;}
.content .partner_way li .span_img img{width: 100%;}
.content .partner_way li .p1{width: 90%;display: block;margin: 0 auto;font-size: 0.8em;line-height: 20px;}
.footer{text-align: center;font-size: 0.9em;color: #999;margin-bottom: 20px;margin-top: 10px;}