@-webkit-keyframes zhuan {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes zhuan {
    0% {
        -moz-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes zhuan {
    0% {
        -ms-transform: rotate(0deg);
    }
    50% {
        -ms-transform: rotate(180deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}
@-o-keyframes zhuan {
    0% {
        -o-transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
@keyframes box {
    0% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    10% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    20% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    40% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
@-o-keyframes box {
    0% {
        -o-transform: rotate3d(0, 0, 1, -5deg);
    }
    10% {
        -o-transform: rotate3d(0, 0, 1, 5deg);
    }
    20% {
        -o-transform: rotate3d(0, 0, 1, -5deg);
    }
    30% {
        -o-transform: rotate3d(0, 0, 1, 5deg);
    }
    40% {
        -o-transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        -o-transform: rotate3d(0, 0, 1, 0deg);
    }
}
@-ms-keyframes box {
    0% {
        -ms-transform: rotate3d(0, 0, 1, -5deg);
    }
    10% {
        -ms-transform: rotate3d(0, 0, 1, 5deg);
    }
    20% {
        -ms-transform: rotate3d(0, 0, 1, -5deg);
    }
    30% {
        -ms-transform: rotate3d(0, 0, 1, 5deg);
    }
    40% {
        -ms-transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        -ms-transform: rotate3d(0, 0, 1, 0deg);
    }
}
@-webkit-keyframes box {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
    }
    10% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
    }
    20% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
    }
    30% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
    }
}
@-moz-keyframes box {
    0% {
        -moz-transform: rotate3d(0, 0, 1, -5deg);
    }
    10% {
        -moz-transform: rotate3d(0, 0, 1, 5deg);
    }
    20% {
        -moz-transform: rotate3d(0, 0, 1, -5deg);
    }
    30% {
        -moz-transform: rotate3d(0, 0, 1, 5deg);
    }
    40% {
        -moz-transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        -moz-transform: rotate3d(0, 0, 1, 0deg);
    }
}
@keyframes mi {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes mi {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes mi {
    0% {
        -moz-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes mi {
    0% {
        -ms-transform: rotate(0deg);
    }
    50% {
        -ms-transform: rotate(180deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}
@-o-keyframes mi {
    0% {
        -o-transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
body {
    background-color: #bc2c2f;
}
.bf-banner{width: 100%;}
.bf-banner img{width: 100%;}
.bf-1 {
    width: 100%;    margin-top: -0.3rem;
    position: relative;
}
.bf-1 h3{
    color: #d40909;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.bf-1 .bg {
    width: 100%;
}
.bf-1 .hudie {
    width: 8%;
    position: absolute;
    top: 3%;
    right: 15%;
}
.bf-1 .zhuan {
    width: 68%;
    top: 13%;
    position: absolute;
    left: 16%;
    z-index: 9;
    animation: zhuan 15s linear infinite;
    -moz-animation: zhuan 15s linear infinite;
    -o-animation: zhuan 15s linear infinite;
    -ms-animation: zhuan 15s linear infinite;
    -webkit-animation: zhuan 15s linear infinite;
}
.bf-1 .pos {
    position: absolute;
    top: 3%;
    width: 100%;
    left: 0;
    text-align: center;
    height: 57%;
}

.bf-1 .pos .box {
    position: relative;
    height: 100%;
}
.bf-1 .pos .box .sd-mi {
    position: absolute;
    background: url('../img/mi.png') no-repeat;
    background-size: 100% 100%;
    animation: mi 30s linear infinite;
    -moz-animation: mi 30s linear infinite;
    -o-animation: mi 30s linear infinite;
    -ms-animation: mi 30s linear infinite;
    -webkit-animation: mi 30s linear infinite;
}
.bf-1 .pos .box .mi-1 {
    width: 1.8rem;
    height: 1.8rem;
    left: 17%;
    top: 21%;
}
.bf-1 .pos .box .mi-2 {
    width: 1.2rem;
    height: 1.2rem;
    left: 13%;
    bottom: 22%;
    opacity: 0.8;
    animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    -webkit-animation-delay: 4s;
}
.bf-1 .pos .box .mi-3 {
    width: 2rem;
    height: 2rem;
    right: 15%;
    top: 10%;
    animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    -webkit-animation-delay: 6s;
}
.bf-1 .pos .box .mi-4 {
    width: 1rem;
    height: 1rem;
    right: 19%;
    top: 33%;
    animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    -webkit-animation-delay: 4s;
}
.bf-1 .pos .box  .mi-5 {
    width: 1.2rem;
    height: 1.2rem;
    right: 13%;
    bottom: 16%;
    animation-delay: 16s;
    -moz-animation-delay: 16s;
    -o-animation-delay: 16s;
    -ms-animation-delay: 16s;
    -webkit-animation-delay: 16s;
}
.bf-1 .pos .box .box-icon {
    width: 54%;
    position: absolute;
    left: 24%;
    bottom: 23%;
    z-index: 11;
}
.bf-1 .pos .box .box-red {
    width: 38%;
    position: absolute;
    left: 32%;
    bottom: 23%;
    z-index: 10;
    animation: box 2s linear infinite;
    -moz-animation: box 2s linear infinite;
    -o-animation: box 2s linear infinite;
    -ms-animation: box 2s linear infinite;
    -webkit-animation: box 2s linear infinite;
}
.bf-1 .pos .box .box-gray {
    width: 54%;
    position: absolute;
    left: 23%;
    bottom: 23%;
    z-index: 10;
}
.bf-1 .pos .box .value {
    color: #FFFFFF;
    position: absolute;
    bottom: 34%;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    z-index: 12;
}
.bf-1 .pos .box .value .span1 {
    color: #ffe400;
    font-size: 0.938rem;
}
.bf-1 .pos .box .btn {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1.5rem;
    z-index: 13;
}
.bf-1 .pos .box .btn img {
    width: 10rem;
}
.bf-1 .bf-tip-1 {
    font-size: 0.75rem;
    text-align: center;
    color: #d40909;
    position: absolute;
    width: 100%;
    bottom: 22%;
}
.bf-1 .bf-tip-2 {
    font-size: 0.813rem;
    text-align: left;
    color: #68181b;
    position: absolute;
    width: 88%;
    bottom: 5%;left: 6%;
}
.bf-1 .bf-tip-2 span{color: #d40909;}
.bf-con {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    color: #666666;border-radius: 5px;
}


.bf-con .bf-con-pos {
    position: relative;background-color: #f9f3d9;
    border-radius: 5px;padding-bottom: 1rem;
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
}
.bf-con .bf-con-pos h3 {
    color: #d40909;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    padding-top: 0.938rem;
    margin-bottom: 0.938rem;
}
.bf-con .bf-con-pos .mp {
    font-size: 0.813rem;border: 1px #68181b solid;border-radius: 5px;
    color: #68181b;background-color: #ffffff;
    margin: 0 auto;
    width: 90%;
    padding: 0.7rem 0;
    overflow: hidden;
}
.bf-con .bf-con-pos .mp ul li {
    overflow: hidden;padding-left: 5%;
    line-height: 2rem;
    height: 2rem;
}
.bf-con .bf-con-pos .mp ul li .span1 {
    float: left;
}
.bf-con .bf-con-pos .mp ul li .span1 .color {
    color: #d40909;
}
.bf-con .bf-con-pos .mp ul li .p-line {
    border-top: 1px #68181b dashed;
    width: 20%;
    margin: 0.875rem 0.5rem 0;
    float: left;
}
.bf-con .bf-con-pos .mp ul li .span2 {
    color: #d40909;
    float: left;
}

.bf-con .bf-con-pos .mp_gundong {
    font-size: 0.813rem;border: 1px #68181b solid;border-radius: 5px;
    color: #68181b;background-color: #ffffff;
    margin: 0 auto; padding: 0.7rem 0 0;
    width: 90%;
    height: 10rem;
    overflow: hidden;
}
.bf-con .bf-con-pos .mp_gundong ul li {
    overflow: hidden;padding-left: 5%;
    line-height: 2rem;
    height: 2rem;
}
.bf-con .bf-con-pos .mp_gundong ul li .span1 {
    float: left;
}
.bf-con .bf-con-pos .mp_gundong ul li .span1 .color {
    color: #d40909;
}
.bf-con .bf-con-pos .mp_gundong ul li .p-line {
    border-top: 1px #68181b dashed;
    width: 20%;
    margin: 0.875rem 0.5rem 0;
    float: left;
}
.bf-con .bf-con-pos .mp_gundong ul li .span2 {
    color: #d40909;
    float: left;
}
.bf-con .bf-con-pos .award-show{width: 90%;margin: 1rem auto 0;}
.bf-con .bf-con-pos .award-show img{width: 100%;}
.bf-con .bf-con-pos .labour_step{width: 90%;margin: 0.5rem auto;}
.bf-con .bf-con-pos .labour_step img{width: 100%;}
.bf-con .bf-con-pos .rule{width: 90%;margin: 0 auto;font-size: 0.813rem;color: #68181b;line-height: 1.3rem;}
.bf-con .bf-con-pos .rule font{color: #d82a33;}
.bf-con .bf-con-pos .p-title {
    font-size: 0.875rem;color: #68181b;margin-left: 5%;margin-bottom: 0.3rem;margin-top: 1rem;
}
.bf-con .bf-con-pos .p-title span{font-size: 0.813rem;}
.bf-con .bf-con-pos ol{width: 86%;margin-left: 10%;font-size: 0.813rem;color: #68181b;line-height: 1.3rem;}
.bf-con .bf-con-pos .mp .voteTitle{text-align: center;padding: 0.5rem 0;}
.bf-con .bf-con-pos .mp .voteTitle img{width: 70%;}

.bf-con .bf-con-pos .mp table{width: 100%;color: #666666; border-spacing: 0;
}
.bf-con .bf-con-pos .mp table td{width: 33.33%;text-align: center;height: 2rem;}
.bf-con .bf-con-pos .mp table thead{background-color: #f1f1f1;color: #ed5153;}
.bf-con .bf-con-pos .mp table tbody{}
.bf-con .bf-con-pos .mp .p-date{color: #999999;font-size: 0.688rem;text-align: center;}

.bf-foot {
    margin-bottom: 1rem;margin-top: 1rem;text-align: center;color: #eaa2a4;font-size: 0.813rem;
}
/*弹框*/
.wapTk {
    position: fixed;
    top: 30%;
    left: 10%;
    z-index: 21;
    width: 80%;
    border-radius: 10px;
    display: none;
}
.wapTk .tk_top {
    background-color: #fbdadb;
    width: 100%;
    position: relative;
    padding-bottom: 15px;
}
.wapTk .tk_top .title {
    width: 16rem;
    color: #f86c36;
    position: absolute;
    top: -1.375rem;
    margin-left: -8rem;
    left: 50%;
}
.wapTk .tk_top .title img {
    width: 100%;
}
.wapTk .tk_top .con {
    margin: 0 auto;
    width: 15rem;
    position: relative;
    padding-top: 2.75rem;
}
.wapTk .tk_top .con img {
    width: 100%;
}
.wapTk .tk_top .con .con-pos {
    position: absolute;
    bottom: 2%;
    left: 0;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    height: 5.3rem;
}
.wapTk .tk_top .con .con-pos .left {
    float: left;
    width: 70%;
    font-size: 2.5rem;
    height: 5.3rem;
    line-height: 5.3rem;
}
.wapTk .tk_top .con .con-pos .right {
    float: left;
    width: 25%;
    font-size: 0.9rem;
    margin-top: 1.2rem;
    margin-left: 2%;
}
.wapTk .tk_bottom {
    background-color: #FFFFFF;
    overflow: hidden;
    margin-top: -2px;
}
.wapTk .tk_bottom .p_btn {
    background-color: #da2c34;
    color: #ffffff;
    width: 9rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 2rem;
    font-size: 0.938rem;
    margin: 1rem auto;
    text-align: center;
    display: block;
}
.wapTk .tk_bottom .p_btn a {
    color: #ffffff;
}
.wapTk .tk_bottom .p_close {
    text-align: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    margin-left: -15px;
}
.wapTk .tk_bottom .p_close img {
    width: 30px;
}
