body {
  background-color: #ffffff;
}
.content {
  width: 90%;
  margin: 20px auto 0;
  overflow: hidden;
}
.content .title {
  margin-bottom: 8px;
  font-size: 1em;
  color: #333;
  font-weight: bold;
  border-left: 4px #ffae00 solid;
  padding-left: 10px;
}
.content .word {
  font-size: 0.9em;
  line-height: 22px;
}
.content .img {
  width: 100%;
  margin-top: 8px;
}
.content .img img {
  width: 100%;
}
.content .biao ul {
  margin-top: 10px;
}
.content .biao ul li {
  height: 45px;
  line-height: 45px;
  color: #333333;
}
.content .biao ul li div {
  float: left;
  width: 50%;
  text-align: center;
  font-size: 1em;
}
.content .biao ul li.color1 {
  background-color: #f9efd3;
  color: #f86c36;
}
.content .biao ul .color2 {
  background-color: #f8f8f8;
}
.content .biao ul .color3 {
  background-color: #f1f1f1 ;
}
.gameMcPos {
  position: fixed;
  bottom: 0;
  z-index: 21;
  width: 100%;
  height: 4em;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  /* margin: 0 auto; */
}
.gameMcPos a {
  width: 90%;
  margin: 0.6em 5%;
  height: 43px;
  background-color: #f86c36;
  color: #fff;
  font-size: 1.1em;
  border-radius: 5px;
  display: block;
  text-align: center;
  line-height: 43px;
  text-decoration: none;
}
