.tip-grey{font-size: 0.8em;margin-left: 5%;margin-top: -3%;color: #999999;}
.content {
    width: 95%;margin-top: 40px;
    margin-left: 5%;
}
.content .part {
    position: relative;border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
}
.content .part .acc-item {
    width: 100%;
    font-size: 1em;
    height: 60px;line-height: 60px;
    color: #ff4830;display: block;
}
.content .part .zhankai {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 20px;
    right: 15px;
}
.content .tijiao {
    width: 95%;
    margin: 40px auto;
    height: 45px;
    border-radius: 2em;
    text-align: center;
    color: #ffffff;
    font-size: 1.1em;
}
.content .color-red{
    background: #f86c36;
}