@charset "utf-8";
/* CSS Document */
/*邀请规则*/
body{background-color: #fdf8f9;}
.irPart_banner{width: 100%;}
.irPart_banner img{width: 100%;}
.irPart{width: 96%; margin:0.5em auto 0;}
.irPart .irPart_title{color:#f86c36;font-weight: bold;line-height: 1.4em;font-size:1.1em; }
.irPart .irPart_title span{  margin-right: 0.3em;border-radius: 50%;background-color: #f86c36;color: #ffffff;font-weight: normal;
    width: 1.5em;display: inline-block;font-size: 0.9em;height: 1.5em;line-height: 1.5em;text-align: center;float: left;}
.irPart .irPart_con{ margin: 5px 0 10px 1.8em;color: #333333;line-height: 1.7em;font-size: 0.98em;}
.irPart .irPart_con .p1{font-weight: bold;}
.irPart .irPart_con .p2{margin-bottom: 10px;}
.irPart .irPart_con .p2 span{margin-right: 12px;}
.irPartImg{width:100%;margin:0.5em 0;}
.irPartImg img{width: 100%;}
.irPart_bottom{width: 100%;margin-top: -100px;}
.irPart_bottom img{width: 100%;}