@keyframes kai {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes kai {
  0% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes kai {
  0% {
    -moz-transform: scale(1);
  }
  20% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes kai {
  0% {
    -ms-transform: scale(1);
  }
  20% {
    -ms-transform: scale(1.2);
  }
  100% {
    -ms-transform: scale(1);
  }
}
@-o-keyframes kai {
  0% {
    -o-transform: scale(1);
  }
  30% {
    -o-transform: scale(1.2);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes hand {
  0% {
    transform: rotate3d(1, 0, 0, 0deg) scale(1);
  }
  70% {
    transform: rotate3d(1, 0, 0, 30deg) scale(1.1);
  }
  100% {
    transform: rotate3d(1, 0, 0, 0deg)scale(1);
  }
}
@-ms-keyframes hand {
    0% {
        -ms-transform:rotate3d(1,0,0,0deg) scale(1);
    }
    70% {
        -ms-transform:rotate3d(1,0,0,30deg) scale(1.1);
    }
    100% {
        -ms-transform:rotate3d(1,0,0,0deg) scale(1);
    }
}
@-webkit-keyframes hand {
    0% {
        -webkit-transform:rotate3d(1,0,0,0deg)scale(1);
    }
    70% {
        -webkit-transform:rotate3d(1,0,0,30deg)scale(1.1);
    }
    100% {
        -webkit-transform:rotate3d(1,0,0,0deg)scale(1);
    }
}
@-moz-keyframes hand {
    0% {
        -moz-transform:rotate3d(1,0,0,0deg) scale(1);
    }
    70% {
        -moz-transform:rotate3d(1,0,0,30deg) scale(1.1);
    }
    100% {
        -moz-transform:rotate3d(1,0,0,0deg) scale(1);
    }
}
body {
  background-color: #e22631;width: 100%;
}
.bg {
  width: 100%;
  position: relative;
}
.bg .kai-word {
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center;z-index: 5;
}
.bg .kai-word img {
  width: 46%;
  animation: kai 1s linear 0.5s infinite;
  -moz-animation: kai 1s linear 0.5s infinite;
  -o-animation: kai 1s linear 0.5s infinite;
  -ms-animation: kai 1s linear 0.5s infinite;
  -webkit-animation: kai 1s linear 0.5s infinite;
}
.bg .kai-hand {
  position: absolute;
  bottom: -20%;
  left: 50%;
  width: 49%;z-index: 6;
}
.bg .kai-hand img {
  width: 100%;
  -webkit-transform: rotateX(90deg);
  animation: hand 2s linear infinite;
  -moz-animation: hand 2s linear infinite;
  -o-animation: hand 2s linear infinite;
  -ms-animation: hand 2s linear infinite;
  -webkit-animation: hand 2s linear infinite;
}
.bg .card {
  position: absolute;
  color: #fff;
  top: 5%;
  left: 0;
  width: 66%;
  margin-left: 17%;
}
.bg .card .p1 {
  font-size: 1em;
  margin-bottom: 5%;
}
.bg .card .p1 font {
  margin-left: 2%;
}
.bg .card .p2 {
  font-size: 1.4em;
  margin-bottom: 1%;
}
.bg .card .p3 {
  font-size: 1em;
  margin-bottom: 5%;
}
.bg .card .p4 {
  text-align: right;
  width: 100%;
}
.bg .card .p4 font {
  margin-right: 2%;
}
.bg .bg-img {
  width: 100%;
}
.kai-foot {
  width: 100%;
}
.kai-foot img {
  width: 100%;
}
.kai-1{margin-left: 12%;}
.kai-1 a{color: #ffd182;font-size: 0.9em;}
.wapShare img{z-index: 34;}
.wapShare a{width: 100%;position: absolute;top: 60%;text-align: center;color: #ffd182;font-size: 0.9em;z-index: 35;}