.setPwd{width: 580px;margin: 20px auto;}
.setPwdTitle{height: 60px;  margin-top: 50px;margin-bottom: 50px;}
/*设置密码1*/
.setPwdList{position:relative;margin-bottom: 20px;}
.setPwdList .span1 {font-size: 14px;width: 120px;display: inline-block;
    text-align: right;margin-right: 10px;}
.setPwdList input {color: #666;  padding-left: 10px;width: 210px;}
.errtipSetpwd{ display: none;position: absolute;top: 5px;left: 364px; }
.warmtipSetpwd{display: none;position: absolute;top: 5px;left: 364px; }
.setPwdBtn {height: 40px;line-height: 40px;width: 300px;text-align: center;
    font-size: 20px;font-weight: bold;margin: 50px auto 0;  display: block;}
/*设置密码2*/
.setPwdSuccess{font-size: 24px;padding-left: 60px;width: 205px;height: 60px;line-height: 60px;margin: 70px auto 20px;background: url("../img/setlpSuccess.png") no-repeat;}
.setPwdUrl{  width: 330px;margin: 0 auto;}
.setPwdUrl a{color:#f86c36;margin: 0 10px; }
.setPwdUrl a:hover{text-decoration: underline;}

/*设置登录密码1*/
.setlpTitle1{background: url("../img/setlptitle.png") no-repeat center top;}
/*设置登录密码2*/
.setlpTitle2{background: url("../img/setlptitle.png") no-repeat center -80px;}

/*修改登录密码1*/
.alertlpTitle1{background: url("../img/alertlptitle.png") no-repeat center top;}
/*修改登录密码2*/
.alertlpTitle2{background: url("../img/alertlptitle.png") no-repeat center -80px;}

/*修改支付密码1*/
.alterppTitle1{background: url("../img/alterpptitle.png") no-repeat center top;}
/*修改支付密码2*/
.alterppTitle2{background: url("../img/alterpptitle.png") no-repeat center -80px;}

/*找回支付密码1*/
.findppTitle1{background: url("../img/findpptitle.png") no-repeat center top;}
.findppTip {background: url("../../../common/img/comTip.png") no-repeat 10px -207px;
    border: 1px #f80c36 solid;font-size: 12px;text-align: center;height: 30px;
    line-height: 30px;width: 560px;margin: 0px auto 40px;background-color: #FFF9ED;}
.findppList{position:relative;margin-bottom: 20px;}
.findppList .span1 {font-size: 14px;width: 120px;display: inline-block;
    text-align: right;margin-right: 10px;}
.findppList input {color: #666;  padding-left: 10px;width: 120px;}
.findppList a{font-size: 14px;color: #f86c36;}
.findppList a:hover{text-decoration: underline;}
.findppMsgcode {  font-family: 微软雅黑;
  border: 1px #eaeaea solid;display: inline-block;font-size: 14px;background-color: #eaeaea;
    height: 40px;line-height: 40px;width: 100px;margin-left: 5px;text-align: center;color: #333;}
.findppMsgcode:hover{cursor: pointer;color: #f86c46;}
/*找回支付密码2*/
.findppTitle2{background: url("../img/findpptitle.png") no-repeat center -85px;}
/*找回支付密码3*/
.findppTitle3{background: url("../img/findpptitle.png") no-repeat center -174px;}
.finpptz{display: none;text-align: center;}

/*找回登录密码1*/
.findlpTitle1{background: url("../img/findlptitle.png") no-repeat center top;}
.findlpVoiceTip{  width: 290px;height: 40px;padding: 5px 10px; margin-left:135px;
    font-size: 12px;margin-top: 10px;line-height: 21px;background-color: #FFF5F6;
    border: 1px #f86c36 solid;display:none;}
.findlpVoiceTip a{color: #f86c36;  margin-left: 5px;}
.findlpVoiceTip a:hover{text-decoration: underline;}
.findlpVoiceWordTip{display: none;}
/*找回登录密码2*/
.findlpTitle2{background: url("../img/findlptitle.png") no-repeat center -85px;}
/*找回登录密码3*/
.findlpTitle3{background: url("../img/findlptitle.png") no-repeat center -174px;}
.setPwdSuccess1{font-size: 24px;padding-left: 60px;width: 270px;height: 60px;line-height: 60px;margin: 70px auto 20px;background: url("../img/setlpSuccess.png") no-repeat;}

